{% extends "base_bootstrap.html" %}

{% block content %}
  <h1>Movie List</h1>
  {% if movie_list %}
  <ul>
    {% for movie in movie_list %}
      <li>
          {{ movie.nickname }} ({{ movie.make }})
          (<a href="{% url 'movies:movie_update' movie.id %}">Update</a> |
          <a href="{% url 'movies:movie_delete' movie.id %}">Delete</a>) <br/>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no movies in the library.</p>
  {% endif %}
  <p>
    {% if genre_count > 0 %}
      <a href="{% url 'movies:movie_create' %}">Add a movie</a>
    {% else %}
      Please add a genre before you add an movie.
    {% endif %}
  </p>
  <p>
  <a href="{% url 'movies:genre_list' %}">View genres</a> ({{ genre_count }}) | 
    <a href="{% url 'movies:genre_create' %}">Add a genre</a>
  </p>
{% endblock %}